/* vs-code theme: https://github.com/dracula/visual-studio-code/blob/master/src/dracula.yml */

body {
  font-family: Roboto,sans-serif;
  font-size:  1rem;
  max-width: 42rem;
  padding: 1rem;
  line-height: 1.5;
  margin: auto;
}

body .embedded-doc .doc-content {
  margin-top: 1rem;
  margin-right: 0px;
  max-width: 100%;
  padding: 0px;
}

#dotplanContainer {
  padding: 1px;
  /* margin-left: -15px; */
}

.dotplanIsLoading {
  visibility: hidden;
  height: 0;
}

::selection {
  background: #44475A75;
}

body {
  background: #282A36;
  color:      #F8F8F2;
}

pre {
  background-color: #3c3836;
  padding: 1em;
  border: 0;
}

a, a:active, a:visited {
  color: #8BE9FD;
  /* font-family: Menlo, Monaco, 'Courier New', monospace; */
  /* background-color: #1d2021; */
}

.site-title > a {
  text-decoration: none;
  color: #69FF94;
}

h1 {
  /* font-family: Menlo, Monaco, 'Courier New', monospace; */
  /* color: #FF79C6; */
  margin-bottom: 0.25rem;
  margin-top: 0rem;
}

h1 {
  font-size: 2rem;
  margin-bottom: 0.25rem;
  margin-top: 0rem;
}

h2 {
  font-size: 1.6rem;
  color: #BD93F9;

}


h3, h4, h5 { 
  /* color: #FF79C6; */
  /* font-family: Menlo, Monaco, 'Courier New', monospace; */
  margin-bottom: .25rem;
  color: #BD93F9;
}

blockquote {
  border-left: 1px solid #BD93F9;
  margin: 20px 10px;
  padding: 0px 10px;
  /* color: #BD93F9; */
}

.meta { 
  /* font-family: Menlo, Monaco, 'Courier New', monospace; */
  margin-bottom: .25rem;
  color: #a8b2cf;
}

ul.flat {
  margin: 0;
  padding: 0;
}

ul.flat li {
  display: inline-block;
  list-style: none;
  margin-left: 0;
}

.header nav ul.flat {
  padding: 0;
}

.header nav ul.flat li {
  display: inline-block;
  /* list-style: none; */
  margin-left: 0;
  margin-right: 10px;
  margin-top: 10px;
}

.header .site-description {
  display: flex;
  justify-content: space-between;
}

.site-description > h2 { 
  margin: 0
}

.header .site-description nav {
  margin: 0;
  padding: 0;
  border: none;
  min-width: 50px;
  margin-left: 15px;
}

.header .site-description nav ul svg {
  max-height: 15px;
}

.fluff-miscellanea { 
  font-size: 12px;
}

.fluff-miscellanea span a { 
  padding-right: 5px;
}

.header { 
  margin-bottom: 0.3rem;
}

.post { 
  margin-top: 0.5rem;
}

.secret {
  font-size: 0;
}


subtitle { 
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  color: #9099b6;
  display: block;
  width: 100%;
  margin:auto;
  max-width: 100%;
}
.subscribe-beg > a{ 
  color: #69FF94;
}

img {
  width: 100%;
  height: 100%;
}

color-palatte { color: #282A36 }
color-palatte { color: #F8F8F2 }
color-palatte { color: #44475A }
color-palatte { color: #6272A4 }
color-palatte { color: #8BE9FD }
color-palatte { color: #50FA7B }
color-palatte { color: #FFB86C }
color-palatte { color: #FF79C6 }
color-palatte { color: #BD93F9 }
color-palatte { color: #FF5555 }
color-palatte { color: #F1FA8C }
color-palatte { color: #21222C }
color-palatte { color: #FF5555 }
color-palatte { color: #50FA7B }
color-palatte { color: #F1FA8C }
color-palatte { color: #BD93F9 }
color-palatte { color: #FF79C6 }
color-palatte { color: #8BE9FD }
color-palatte { color: #F8F8F2 }
color-palatte { color: #a8b2cf }
color-palatte { color: #FF6E6E }
color-palatte { color: #69FF94 }
color-palatte { color: #FFFFA5 }
color-palatte { color: #D6ACFF }
color-palatte { color: #FF92DF }
color-palatte { color: #A4FFFF }
color-palatte { color: #FFFFFF }